/* COLORS */
@blue: #2d64b4;
@gold: #e6bb00;
@red: #be0000;
@grey: #757575;
@green: #15ad15;
@dark-grey: #151515;
@dark-gold: rgb(196, 128, 4);
@dark-blue: #050920;
@dark-red: #6d0300;
@dark-green: #006d00;

/* ELEMETS COLOR */
@body-background-color: black;
@content-bgcolor: black;
@base-font-color: @grey;
@system-font-color: @gold;
@btn-base-bgcolor: black;

/* FONT SIZES */
@base-fontsize: 20px;
@header1-size: 2.4rem;
@header2-size: 1.8rem;
@header3-size: 1.2rem;
@input-fontsize: 1.2rem;
@label-fontsize: 0.85rem;
@small-fontsize: 0.75rem;

@main-font: 'Arsenal', Arial, sans-serif;
@headers-font: 'Arsenal', Arial, sans-serif;
@button-font: 'Play', sans-serif;
@label-font: 'Play', sans-serif;

@base-padding: 0.25rem;
@base-border-width: 1px;
@ui-border-width: 1px;