@dark-grey: #121212;
@blue: #2d7fb3;
@gold: #e6bb00;
@red: #be0000;
@grey: #757575;

@body-background-color: black;
@content-background-color: @dark-grey;
@base-font-color: @grey;

@main-font: 'Play', sans-serif;
@headers-font: 'Roboto Condensed', sans-serif;

/* 
    Интересные шрифты на Google fonts:
    Play
    Roboto Condensed
    Yanone Kaffeesatz
*/

@base-fontsize: 20px;
@header1-size: round(@base-fontsize * 2.2);
@header2-size: round(@base-fontsize * 1.6);
@header3-size: round(@base-fontsize * 1.2);
@input-fontsize: round(@base-fontsize * 1.2);
@label-fontsize: round(@base-fontsize * 0.85);